# 4.9- Intro to Data Visualization with Python

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Turn project folder into path

path = r'/Users/lucerovargas/Documents/Data Analysis/Achievement 4- Python Fundamentals/12.2022 Instacart Basket Analysis'

In [3]:
# Import "customers.csv" into Jupyter dataframe as new_customer

new_customer = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'customers.csv'))

In [4]:
new_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
new_customer.shape

(206209, 10)

### Wrangling Steps

In [6]:
# Change column "surnam" to Last Name

new_customer.rename(columns = {'Surnam':'Last Name'}, inplace = True)

In [7]:
# Change column "State" to State

new_customer.rename(columns = {'STATE':'State'}, inplace = True)

In [8]:
# Change column "Fam_status" to Marital Status

new_customer.rename(columns = {'fam_status':'Marital Status'}, inplace = True)

In [9]:
new_customer['date_joined'].value_counts()

9/17/2018     213
2/10/2018     212
4/1/2019      211
9/21/2019     211
12/19/2017    210
             ...
9/1/2018      141
1/22/2018     140
11/24/2017    139
7/18/2019     138
8/6/2018      128
Name: date_joined, Length: 1187, dtype: int64

In [10]:
new_customer.head()

,user_id,First Name,Last Name,Gender,State,Age,date_joined,n_dependants,Marital Status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

I have decided to not drop any columns as they all seem vital to the questions that are discussed in the project brief

### Data quality and consistency checks

In [11]:
# Check for any mixed-type columns

for col in new_customer.columns.tolist():
    weird = (new_customer[[col]].applymap(type) != new_customer[[col]].iloc [0].apply(type)).any(axis = 1)
    if len(new_customer[weird]) > 0:
        print(col)

First Name

In [12]:
# Change data type in First Name from object to string

new_customer['First Name'] = new_customer['First Name'].astype('str')

In [13]:
new_customer.dtypes

user_id            int64
First Name        object
Last Name         object
Gender            object
State             object
Age                int64
date_joined       object
n_dependants       int64
Marital Status    object
income             int64
dtype: object

In [14]:
for col in new_customer.columns.tolist():
    weird = (new_customer[[col]].applymap(type) != new_customer[[col]].iloc [0].apply(type)).any(axis = 1)
    if len(new_customer[weird]) > 0:
        print(col)

Confirmed there are no more mixed-data types

In [15]:
# Check for missing values

new_customer.isnull().sum()

user_id           0
First Name        0
Last Name         0
Gender            0
State             0
Age               0
date_joined       0
n_dependants      0
Marital Status    0
income            0
dtype: int64

There are no missing values

In [16]:
# Check for duplicates

new_customer_dups = new_customer[new_customer.duplicated()]

In [17]:
new_customer_dups.shape

(0, 10)

There are no duplicates

### Merge the dataframes

In [19]:
# Import Instacart data as ords_prods_merge

ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products.pkl'))

In [20]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_spent,spending_flag,frequent_customers,frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [24]:
# Check for shape of ords_prods_merge df

ords_prods_merge.shape

(32404859, 25)

In [30]:
ords_prods_merge.dtypes

order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
new_customer                  bool
product_id                   int64
add_to_cart_order            int64
reordered                    int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
_merge                    category
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_hours               object
max_order                    int64
loyalty_flag                object
average_price_spent        float64
spending_flag               object
frequent_customers         float64
frequency_flag              object
dtype: object

In [32]:
# Merge dataframes on outer join

ords_prods_cust = ords_prods_merge.merge(new_customer, on = 'user_id')

In [33]:
ords_prods_cust.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,frequency_flag,First Name,Last Name,Gender,State,Age,date_joined,n_dependants,Marital Status,income
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,False,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,False,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [34]:
# Check the shape of the df

ords_prods_cust.shape

(32404859, 34)

### Export the dataframe

In [36]:
ords_prods_cust.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_cust.pkl'))